<!DOCTYPE html>
{% load static %}
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KikolasDEV</title>
   <!-- Bootstrap Links -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <!-- QuillJS Editor -->
    <link href="https://cdn.jsdelivr.net/npm/quill@2.0.2/dist/quill.snow.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/quill@2.0.2/dist/quill.js"></script>
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <!-- Font Awesone -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet"/>
    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Markazi+Text:wght@400..700&family=Russo+One&display=swap" rel="stylesheet">
</head>

<body class="loader d-flex flex-column min-vh-100">
    <nav class="navbar navbar-expand-lg navbar-top fixed-top russo-one-regular">
        <div class="container">
            <!-- Logo -->
            <a class="navbar-brand d-flex align-items-center logotype" href="{% url 'index' %}">
                <img src="{% static 'images/logos/KikolasDEV_logo.png' %}" alt="Logo KikolasDEV" class="logo-icon me-2">
                <span>KikolasDEV</span>
            </a>
            <!-- Botón de hamburguesa (visible solo en móviles) -->
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <!-- Menú de navegación -->
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="#sobre-mi">Sobre mí</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#proyectos">Proyectos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#conocimientos-timeline">Conocimientos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'contact' %}">Contacto</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container flex-grow-1">
        {% block body_block %}

        {% endblock %}
    </div>

<!-- Enlace a los archivos JavaScript -->
<script src="{% static 'js/scroll.js' %}"></script>
<script src="{% static 'js/editor.js' %}"></script>
<script src="{% static 'js/typing-name.js' %}"></script>
</body>

<footer class="text-center py-4">
    <div class="container d-flex justify-content-between align-items-center flex-wrap russo-one-regular">
        <!-- Lista de enlaces -->
        <div class="footer-links text-start">
            <ul class="nav">
                <li class="nav-item">
                    <a class="nav-link" href="#">Sobre mí</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Proyectos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Conocimientos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'contact' %}">Contacto</a>
                </li>
            </ul>
        </div>

        <!-- Texto e iconos alineados -->
        <div class="footer-info d-flex flex-column align-items-end text-end markazi-text">
            <p class="mb-2">&copy; 2024 KikolasDEV by José Francisco González Amarillo</p>
            <div class="d-flex align-items-center pt-1">
                <a href="https://www.linkedin.com/in/kikoamarillo/" target="_blank" class="me-2">
                    <img src="{% static 'images/logos/linkedin.svg' %}" alt="LinkedIn Icon" class="footer-icon mb-2">
                </a>
                <a href="https://github.com/KikolasDEV" target="_blank" class="me-3">
                    <img src="{% static 'images/tecnologias/github.svg' %}" alt="GitHub Icon" class="footer-icon mb-2 ms-1">
                </a>
                <img src="{% static 'images/logos/gmail.svg' %}" alt="Email Icon" class="footer-icon mb-2">
                <span class="me-4 ms-1 mb-1">kikoamarillo94@gmail.com</span>
            </div>
        </div>
    </div>
</footer>
</html>