{% extends "projects/base.html" %}
{% load static %}
{% block body_block %}

<div class="container py-5">

    <!-- Sección: SOBRE-MÍ -->
    <section id="sobre-mi" class="d-flex align-items-center mt-5 pt-5 pb-5 russo-one-regular">
        <!--<div id="particles-js"></div>-->
        <div class="content-wrapper">
            <div class="row align-items-center">
                <!-- Columna Izquierda -->
                <div class="col-md-4 text-center px-5 py-5">
                    <img src="{% static 'images/Kiko_Amarillo_CARA.jpg' %}" alt="José Francisco González Amarillo" class="rounded-circle profile-image mb-3">
                    <div class="ubicacion-container d-flex align-items-center justify-content-center">
                        <div class="ubicacion">
                            <img src="{% static 'images/logos/ubicacion.png' %}" alt="Ubicación" class="icon me-2">
                            <span>Jerez de la Frontera, España</span>
                        </div>
                    </div>
                    <a href="{% static 'CV_Jose_Francisco_Gonzalez_Amarillo.pdf' %}" class="btn btn-descargar mt-3" download="CV_Jose_Francisco_Gonzalez_Amarillo.pdf">
                        Descargar CV
                    </a>
                </div>

                <!-- Columna Derecha -->
                <div class="col-md-8 d-flex flex-column justify-content-center align-items-end text-end px-5">
                    <h1 class="nombre-completo">
                        <span id="dynamic-name" class="writing"></span><span id="cursor">|</span><br>
                        González Amarillo
                    </h1>
                    <h2 class="lead index-descripcion">FullStack Developer Jr.</h2>
                    <div class="icons-section mt-3">
                        <div class="social-links mt-2 d-flex align-items-center">
                            <a href="https://www.linkedin.com/in/kikoamarillo/" target="_blank">
                                <img src="{% static 'images/logos/linkedin.svg' %}" alt="LinkedIn Icon" class="icon">
                            </a>
                            <a href="https://github.com/KikolasDEV" target="_blank">
                                <img src="{% static 'images/tecnologias/github.svg' %}" alt="GitHub Icon" class="icon mx-2">
                            </a>
                            <img src="{% static 'images/logos/gmail.svg' %}" alt="Email Icon" class="icon me-1">
                            <span class="email mt-1">kikoamarillo94@gmail.com</span>
                        </div>
                    </div>
                </div>
            </div>
            <!--<div class="frase-celebre">
                <p>"Somos individuos únicos y auténticos que nos conformamos con respuestas programadas. Bastaría con alterar los parámetros."</p>
            </div>-->
        </div>
    </section>


    <!-- Sección: Proyectos -->
    <section id="proyectos" class="dark">
        <div class="container">
            <h1 class="h1 text-center russo-one-regular mb-5">Proyectos</h1>

            <!-- Tarjeta Proyecto 1 -->
            <article class="postcard">
                <a class="postcard__img_link" href="#">
                    <img class="postcard__img" src="https://picsum.photos/800/400" alt="Proyecto 1">
                </a>
                <div class="postcard__text">
                    <h1 class="postcard__title">Proyecto 1</h1>
                    <div class="postcard__subtitle">
                        <i class="fas fa-calendar-alt"></i> Enero, 2023
                    </div>
                    <div class="postcard__bar"></div>
                    <p class="postcard__preview-txt">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci aliquid asperiores commodi corporis eius eligendi enim est eum eveniet impedit laboriosam, magni, nemo nostrum quae quasi quis tempora ullam vero.
                    </p>
                    <div class="postcard__tagbox">
                        <span class="tag__item"><i class="fas fa-tag"></i> Backend</span>
                        <span class="tag__item"><i class="fas fa-clock"></i> 3 meses</span>
                        <a href="#" class="tag__item"><i class="fab fa-github"></i> Ver en GitHub</a>
                    </div>
                </div>
            </article>

            <!-- Tarjeta Proyecto 2 -->
            <article class="postcard">
                <a class="postcard__img_link" href="#">
                    <img class="postcard__img" src="https://picsum.photos/800/400" alt="Proyecto 2">
                </a>
                <div class="postcard__text">
                    <h1 class="postcard__title">Proyecto 2</h1>
                    <div class="postcard__subtitle">
                        <i class="fas fa-calendar-alt"></i> Junio, 2023
                    </div>
                    <div class="postcard__bar"></div>
                    <p class="postcard__preview-txt">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci aliquid asperiores commodi corporis eius eligendi enim est eum eveniet impedit laboriosam, magni, nemo nostrum quae quasi quis tempora ullam vero.
                    </p>
                    <div class="postcard__tagbox">
                        <span class="tag__item"><i class="fas fa-tag"></i> Web</span>
                        <span class="tag__item"><i class="fas fa-clock"></i> 2 meses</span>
                        <a href="#" class="tag__item"><i class="fab fa-github"></i> Ver en GitHub</a>
                    </div>
                </div>
            </article>

            <!-- Tarjeta Proyecto 3 -->
            <article class="postcard">
                <a class="postcard__img_link" href="#">
                    <img class="postcard__img" src="https://picsum.photos/800/400" alt="Proyecto 3">
                </a>
                <div class="postcard__text">
                    <h1 class="postcard__title">Proyecto 3</h1>
                    <div class="postcard__subtitle">
                        <i class="fas fa-calendar-alt"></i> Diciembre, 2023
                    </div>
                    <div class="postcard__bar"></div>
                    <p class="postcard__preview-txt">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci aliquid asperiores commodi corporis eius eligendi enim est eum eveniet impedit laboriosam, magni, nemo nostrum quae quasi quis tempora ullam vero.
                    </p>
                    <div class="postcard__tagbox">
                        <span class="tag__item"><i class="fas fa-tag"></i> Games</span>
                        <span class="tag__item"><i class="fas fa-clock"></i> 4 meses</span>
                        <a href="#" class="tag__item"><i class="fab fa-github"></i> Ver en GitHub</a>
                    </div>
                </div>
            </article>
        </div>
    </section>


    <!-- Sección: Tecnologías y Herramientas con Animación -->
    <section id="tecnologias" class="mt-5">
        <h2 class="text-center">Tecnologías y Herramientas</h2>
        <div class="slider">
            <div class="slide-track">
                <div class="slide"><img src="{% static 'images/tecnologias/python.svg' %}" alt="python"></div>
                <div class="slide"><img src="{% static 'images/tecnologias/django.svg' %}" alt="django"></div>
                <div class="slide"><img src="{% static 'images/tecnologias/flask.svg' %}" alt="flask"></div>
                <div class="slide"><img src="{% static 'images/tecnologias/git.svg' %}" alt="git"></div>
                <div class="slide"><img src="{% static 'images/tecnologias/github.svg' %}" alt="github"></div>
                <div class="slide"><img src="{% static 'images/tecnologias/html.svg' %}" alt="html"></div>
                <div class="slide"><img src="{% static 'images/tecnologias/css.svg' %}" alt="css"></div>
                <div class="slide"><img src="{% static 'images/tecnologias/javascript.svg' %}" alt="javascript"></div>
                <div class="slide"><img src="{% static 'images/tecnologias/bootstrap.svg' %}" alt="bootstrap"></div>
                <div class="slide"><img src="{% static 'images/tecnologias/java.svg' %}" alt="java"></div>
                <div class="slide"><img src="{% static 'images/tecnologias/mysql.svg' %}" alt="mysql"></div>
                <div class="slide"><img src="{% static 'images/tecnologias/postgresql.svg' %}" alt="postgresql"></div>
                <div class="slide"><img src="{% static 'images/tecnologias/sqlite.svg' %}" alt="sqlite"></div>
                <div class="slide"><img src="{% static 'images/tecnologias/csharp.svg' %}" alt="csharp"></div>
                <div class="slide"><img src="{% static 'images/tecnologias/godot.svg' %}" alt="godot"></div>
                <div class="slide"><img src="{% static 'images/tecnologias/unity.svg' %}" alt="unity"></div>

                <div class="slide"><img src="{% static 'images/tecnologias/python.svg' %}" alt="python"></div>
                <div class="slide"><img src="{% static 'images/tecnologias/django.svg' %}" alt="django"></div>
                <div class="slide"><img src="{% static 'images/tecnologias/flask.svg' %}" alt="flask"></div>
                <div class="slide"><img src="{% static 'images/tecnologias/git.svg' %}" alt="git"></div>
                <div class="slide"><img src="{% static 'images/tecnologias/github.svg' %}" alt="github"></div>
                <div class="slide"><img src="{% static 'images/tecnologias/html.svg' %}" alt="html"></div>
                <div class="slide"><img src="{% static 'images/tecnologias/css.svg' %}" alt="css"></div>
                <div class="slide"><img src="{% static 'images/tecnologias/javascript.svg' %}" alt="javascript"></div>
                <div class="slide"><img src="{% static 'images/tecnologias/bootstrap.svg' %}" alt="bootstrap"></div>
                <div class="slide"><img src="{% static 'images/tecnologias/java.svg' %}" alt="java"></div>
                <div class="slide"><img src="{% static 'images/tecnologias/mysql.svg' %}" alt="mysql"></div>
                <div class="slide"><img src="{% static 'images/tecnologias/postgresql.svg' %}" alt="postgresql"></div>
                <div class="slide"><img src="{% static 'images/tecnologias/sqlite.svg' %}" alt="sqlite"></div>
                <div class="slide"><img src="{% static 'images/tecnologias/csharp.svg' %}" alt="csharp"></div>
                <div class="slide"><img src="{% static 'images/tecnologias/godot.svg' %}" alt="godot"></div>
                <div class="slide"><img src="{% static 'images/tecnologias/unity.svg' %}" alt="unity"></div>
            </div>
        </div>
    </section>

    <!-- Sección: Experiencia y Formación en dos columnas -->
    <section id="info-profesional" class="mt-5">
        <div class="row">
            <!-- Columna de Experiencia -->
            <div class="col-md-6">
                <h2 class="text-center">Experiencia Laboral</h2>
                <div class="mt-4">
                    <h4><strong>Junior Software Developer - Abaco Developments</strong></h4>
                    <p>Abril 2024 - Junio 2024</p>
                    <ul>
                        <li>Desarrollé aplicaciones utilizando Python y FlySpeed SQL.</li>
                        <li>Colaboré en la optimización de bases de datos y análisis de datos.</li>
                        <li>Participé en el desarrollo de soluciones para mejorar la organización y trabajo en equipo.</li>
                    </ul>
                </div>
            </div>

            <!-- Columna de Formación -->
            <div class="col-md-6">
                <h2 class="text-center">Formación</h2>
                <div class="mt-4">
                    <p><strong>Udemy Certificate: Python and Django FullStack Web Developer Bootcamp</strong> - Jose Portilla | Octubre 2024 - Noviembre 2024</p>
                    <p><strong>Udemy Certificate: The Complete Python Pro Bootcamp</strong> - Angela Yu | Junio 2024 - Agosto 2024</p>
                    <p><strong>C.F.G.S. Desarrollo de Aplicaciones Multiplataforma</strong> - IES Vista Alegre | Septiembre 2022 - Junio 2024</p>
                    <p><strong>Grado en Arte Dramático</strong> - E.S.A.D. de Sevilla | Septiembre 2015 - Junio 2019</p>
                </div>
            </div>
        </div>
    </section>
</div>

{% endblock %}


