{% extends "projects/base.html" %}
{% load static %}
{% block body_block %}

<div class="container py-5">

    <!-- Sección: PRESENTACIÓN -->
    <section id="presentacion" class="d-flex align-items-center mt-5 pt-5 pb-5 russo-one-regular">
        <div class="content-wrapper">
            <div class="row align-items-center">
                <!-- Columna Izquierda -->
                <div class="col-md-4 text-start px-5 py-5">
                    <img src="{% static 'images/Kiko_Amarillo_CARA.jpg' %}" alt="José Francisco González Amarillo" class="rounded-circle profile-image mb-3">
                    <div class="ubicacion-container d-flex align-items-center justify-content-center">
                        <div class="ubicacion">
                            <img src="{% static 'images/logos/ubicacion.png' %}" alt="Ubicación" class="icon me-2">
                            <span>Jerez de la Frontera, España</span>
                        </div>
                    </div>
                    <a href="{% static 'CV_Jose_Francisco_Gonzalez_Amarillo.pdf' %}" class="btn btn-descargar mt-3" download="CV_Jose_Francisco_Gonzalez_Amarillo.pdf">
                        Descargar CV
                    </a>
                </div>

                <!-- Columna Derecha -->
                <div class="col-md-8 d-flex flex-column justify-content-center align-items-end text-end px-5">
                    <h1 class="nombre-completo">
                        <span id="dynamic-name" class="writing"></span><span id="cursor">|</span><br>
                        González Amarillo
                    </h1>
                    <h2 class="lead index-descripcion">FullStack Developer Jr.</h2>
                    <div class="icons-section mt-3">
                        <div class="social-links mt-2 d-flex align-items-center">
                            <a href="https://www.linkedin.com/in/kikoamarillo/" target="_blank">
                                <img src="{% static 'images/logos/linkedin.svg' %}" alt="LinkedIn Icon" class="icon">
                            </a>
                            <a href="https://github.com/KikolasDEV" target="_blank">
                                <img src="{% static 'images/tecnologias/github.svg' %}" alt="GitHub Icon" class="icon mx-2">
                            </a>
                            <img src="{% static 'images/logos/gmail.svg' %}" alt="Email Icon" class="icon me-1">
                            <span class="email mt-1">kikoamarillo94@gmail.com</span>
                        </div>
                    </div>
                    <div class="d-flex justify-content-center mt-3">
                         <button class="btn btn-neon">
                             <span></span>
                             <span></span>
                             <span></span>
                             <span></span>
                           Disponible para trabajar
                        </button>
                    </div>
                </div>
            </div>
            <div class="technologies mt-5 pt-5 mb-5">
                <div class="tech-grid">
                    <img src="{% static 'images/tecnologias/python.svg' %}" alt="python">
                    <img src="{% static 'images/tecnologias/django.svg' %}" alt="django">
                    <img src="{% static 'images/tecnologias/flask.svg' %}" alt="flask">
                    <img src="{% static 'images/tecnologias/html.svg' %}" alt="html">
                    <img src="{% static 'images/tecnologias/css.svg' %}" alt="css">
                    <img src="{% static 'images/tecnologias/bootstrap.svg' %}" alt="bootstrap">
                    <img src="{% static 'images/tecnologias/javascript.svg' %}" alt="javascript">
                    <img src="{% static 'images/tecnologias/mysql.svg' %}" alt="mysql">
                    <img src="{% static 'images/tecnologias/postgresql.svg' %}" alt="postgresql">
                    <img src="{% static 'images/tecnologias/sqlite.svg' %}" alt="sqlite">
                    <img src="{% static 'images/tecnologias/git.svg' %}" alt="git">
                    <img src="{% static 'images/tecnologias/github.svg' %}" alt="github">
                </div>
            </div>
        </div>
    </section>


    <!-- Sección: Proyectos -->
    <section id="proyectos" class="dark mt-5">
        <div class="container">
            <h2 class="h2 text-center russo-one-regular mb-5">Proyectos</h2>

            <!-- Tarjeta Proyecto 1 -->
            <article class="postcard">
                <a class="postcard__img_link" href="#">
                    <img class="postcard__img_left" src="{% static 'images/proyectos/blogangela.png' %}" alt="Blog">
                </a>
                <div class="postcard__text">
                    <h1 class="postcard__title">Blog Capstone Project</h1>
                    <div class="postcard__subtitle">
                        <i class="fas fa-calendar-alt"></i> Agosto, 2024
                    </div>
                    <div class="postcard__bar"></div>
                    <p class="postcard__preview-txt">
                        Un proyecto completo de desarrollo de un blog usando Python, Flask, RESTful Routing y SQLAlchemy. Implementación de autenticación, publicación, edición y borrado de entradas (añadiendo permisos específicos de admin y usuarios) y gestión de bases de datos.                     </p>
                    <div class="postcard__tagbox d-flex justify-content-between">
                        <div class="d-flex gap-3">
                            <a href="#" class="tag__item">
                                <i class="fas fa-link"></i> Live Preview
                            </a>
                            <a href="#" class="tag__item">
                                <i class="fab fa-github"></i> GitHub Code
                            </a>
                        </div>
                        <div class="tag__item tipo-proyecto">
                            <i class="fas fa-tag"></i> Backend
                        </div>
                    </div>
                </div>
            </article>

            <!-- Tarjeta Proyecto 2 -->
            <article class="postcard">
                <a class="postcard__img_link" href="#">
                    <img class="postcard__img_right" src="https://picsum.photos/800/400" alt="Proyecto 2">
                </a>
                <div class="postcard__text">
                    <h1 class="postcard__title">Proyecto 2</h1>
                    <div class="postcard__subtitle">
                        <i class="fas fa-calendar-alt"></i> Junio, 2023
                    </div>
                    <div class="postcard__bar"></div>
                    <p class="postcard__preview-txt">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci aliquid asperiores commodi corporis eius eligendi enim est eum eveniet impedit laboriosam, magni, nemo nostrum quae quasi quis tempora ullam vero.
                    </p>
                    <div class="postcard__tagbox d-flex justify-content-between">
                        <div class="d-flex gap-3">
                            <a href="#" class="tag__item">
                                <i class="fas fa-link"></i> Live Preview
                            </a>
                            <a href="#" class="tag__item">
                                <i class="fab fa-github"></i> GitHub Code
                            </a>
                        </div>
                        <!-- Derecha: Backend/Website/Game -->
                        <div class="tag__item tipo-proyecto">
                            <i class="fas fa-tag"></i> Website
                        </div>
                    </div>
                </div>
            </article>

            <!-- Tarjeta Proyecto 3 -->
            <article class="postcard">
                <a class="postcard__img_link" href="#">
                    <img class="postcard__img_left" src="https://picsum.photos/800/400" alt="Proyecto 3">
                </a>
                <div class="postcard__text">
                    <h1 class="postcard__title">Proyecto 3</h1>
                    <div class="postcard__subtitle">
                        <i class="fas fa-calendar-alt"></i> Diciembre, 2023
                    </div>
                    <div class="postcard__bar"></div>
                    <p class="postcard__preview-txt">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci aliquid asperiores commodi corporis eius eligendi enim est eum eveniet impedit laboriosam, magni, nemo nostrum quae quasi quis tempora ullam vero.
                    </p>
                    <div class="postcard__tagbox d-flex justify-content-between">
                        <div class="d-flex gap-3">
                            <a href="#" class="tag__item">
                                <i class="fas fa-link"></i> Live Preview
                            </a>
                            <a href="#" class="tag__item">
                                <i class="fab fa-github"></i> GitHub Code
                            </a>
                        </div>
                        <div class="tag__item tipo-proyecto">
                            <i class="fas fa-tag"></i> Game
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </section>


    <!-- Sección: CONOCIMIENTOS -->
    <section id="conocimientos-timeline" class="py-5 mt-5 pt-5">
        <h2 class="h2 text-center russo-one-regular py-5 mt-5 mb-5">Conocimientos</h2>
        <div class="container position-relative py-5">
            <!-- Línea central -->
            <div class="timeline-line"></div>
            <!-- Card 1 -->
            <div class="row g-4">
                <div class="col-md-6 d-flex justify-content-end">
                    <div class="knowledge-card">
                        <h3>Experiencia 🪙</h3>
                        <h4>Software Developer - Abaco Developments</h4>
                        <p>Abril 2024 - Junio 2024</p>
                        <ul>
                            <li>Desarrollo de aplicaciones utilizando Python y FlySpeed SQL.</li>
                            <li>Optimización de bases de datos y análisis de datos.</li>
                            <li>Desarrollo de soluciones para mejorar la organización y trabajo en equipo.</li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-6 position-relative d-flex align-items-center">
                    <div class="timeline-circle"></div>
                </div>
            </div>
            <!-- Card 2 -->
            <div class="row g-4">
                <div class="col-md-6 position-relative d-flex align-items-center">
                    <div class="timeline-circle"></div>
                </div>
                <div class="col-md-6 d-flex justify-content-start">
                    <div class="knowledge-card">
                        <h3>Certificaciones 📜</h3>
                        <h4>The Complete Python Pro Bootcamp</h4>
                        <p>Angela Yu | Junio 2024 - Septiembre 2024</p>
                        <h4>Python and Django FullStack Web Developer Bootcamp</h4>
                        <p>Jose Portilla | Octubre 2024 - Noviembre 2024</p>
                    </div>
                </div>
            </div>
            <!-- Card 3 -->
            <div class="row g-4">
                <div class="col-md-6 d-flex justify-content-end">
                    <div class="knowledge-card">
                        <h3>Formación 📚</h3>
                        <h4>C.F.G.S. Desarrollo de Aplicaciones Multiplataforma</h4>
                        <p>IES Vista Alegre | Septiembre 2022 - Junio 2024</p>
                        <h4>Grado en Arte Dramático</h4>
                        <p>E.S.A.D. de Sevilla | Septiembre 2015 - Junio 2019</p>
                    </div>
                </div>
                <div class="col-md-6 position-relative d-flex align-items-center">
                    <div class="timeline-circle"></div>
                </div>
            </div>
            <!-- Card 4 -->
            <div class="row g-4">
                <div class="col-md-6 position-relative d-flex align-items-center">
                    <div class="timeline-circle"></div>
                </div>
                <div class="col-md-6 d-flex justify-content-start">
                    <div class="knowledge-card">
                        <h3>Aprendiendo 💡</h3>
                        <div class="tech-grid">
                            <img src="{% static 'images/tecnologias/fastapi.svg' %}" alt="FastAPI">
                            <img src="{% static 'images/tecnologias/aws.svg' %}" alt="AWS">
                            <img src="{% static 'images/tecnologias/svelte.svg' %}" alt="Svelte">
                            <img src="{% static 'images/tecnologias/csharp.svg' %}" alt="C#">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


</div>

{% endblock %}


