{% extends "projects/base.html" %}
{% load static %}
{% block body_block %}

<div class="container mt-5 pt-3">
    <section id="sobre-mi" class="d-flex align-items-center mt-5 pt-5 pb-5 russo-one-regular">
        <div id="particles-js"></div>
        <div class="content-wrapper">
            <div class="row">
                <div class="col-md-4 text-center">
                    <img src="{% static 'images/Kiko_Amarillo_CARA.jpg' %}" alt="José Francisco González Amarillo" class="rounded-circle profile-image mb-3">
                    <div class="mt-4 ms-3">
                        <a href="{% static 'CV_Jose_Francisco_Gonzalez_Amarillo.pdf' %}" class="btn btn-primary me-2" download="CV_Jose_Francisco_Gonzalez_Amarillo.pdf">
                        Descargar CV
                        </a>
                    </div>
                </div>
                <div class="col-md-8 d-flex flex-column justify-content-center align-items-end text-end px-5">
                    <h1 class="nombre-completo">
                        José Francisco<br>
                        González Amarillo
                    </h1>
                    <h2 class="lead descripcion">FullStack Developer Jr.</h2>
                    <div class="icons-section mt-3">
                        <div class="social-links mt-2">
                            <img src="{% static 'images/logos/gmail.svg' %}" alt="Email Icon" class="icon me-2">
                            kikoamarillo94@gmail.com
                            <a href="https://www.linkedin.com/in/kikoamarillo/" target="_blank" class="me-3">
                                <img src="{% static 'images/logos/linkedin.svg' %}" alt="LinkedIn Icon" class="icon">
                            </a>
                            <a href="https://github.com/KikolasDEV" target="_blank">
                                <img src="{% static 'images/tecnologias/github.svg' %}" alt="GitHub Icon" class="icon">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <!-- Sección: Proyectos -->
    <section id="proyectos" class="mt-5 pt-5">
        <h2 class="text-center">Proyectos</h2>
        <div class="row justify-content-center mt-4">

            <!-- Tarjeta del proyecto "Blog Capstone Project" -->
            <div class="col-md-5">
                <div class="card mb-4 shadow-sm">
                    <img src="{% static 'images/proyectos/blogangela.png' %}" class="card-img-top" alt="Blog Capstone Project Image">
                    <div class="card-body">
                        <h5 class="card-title">Blog Capstone Project</h5>
                        <p class="card-text">
                            Un proyecto completo de desarrollo de un blog usando Python, Flask, RESTful Routing y SQLAlchemy. Implementación de autenticación, publicación, edición y borrado de entradas (añadiendo permisos específicos de admin y usuarios) y gestión de bases de datos.
                        </p>
                        <div class="d-flex justify-content-between align-items-center">
                            <a href="https://github.com/KikolasDEV/blog-capstone-project" class="btn btn-primary" target="_blank">Ver en GitHub</a>
                            <div>
                                <i class="fab fa-python technology-icon"></i>
                                <i class="fas fa-flask technology-icon"></i>
                                <i class="fas fa-code technology-icon"></i>
                                <i class="fab fa-bootstrap technology-icon"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Tarjeta del proyecto "VirtualVault" -->
            <div class="col-md-5">
                <div class="card mb-4 shadow-sm">
                    <img src="{% static 'images/proyectos/virtualvault.png' %}" class="card-img-top" alt="VirtualVault Project Image">
                    <div class="card-body">
                        <h5 class="card-title">VirtualVault</h5>
                        <p class="card-text">
                            Aplicación de Flutter diseñada para proporcionar una experiencia de compra en línea sencilla y efectiva. La aplicación permite a los usuarios explorar productos, gestionar favoritos, añadir artículos al carrito y realizar pedidos. Además, incluye funcionalidades de administrador.
                        </p>
                        <div class="d-flex justify-content-between align-items-center">
                            <a href="https://github.com/KikolasDEV/VirtualVault" class="btn btn-primary" target="_blank">Ver en GitHub</a>
                            <div>
                                <i class="fas fa-code technology-icon"></i>
                                <i class="fas fa-mobile-alt technology-icon"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

        <!-- Sección: Tecnologías y Herramientas con Animación -->
    <section id="tecnologias" class="mt-5">
        <h2 class="text-center">Tecnologías y Herramientas</h2>
        <div class="slider">
            <div class="slide-track">
                <div class="slide"><img src="{% static 'images/tecnologias/python.svg' %}" alt="python"></div>
                <div class="slide"><img src="{% static 'images/tecnologias/django.svg' %}" alt="django"></div>
                <div class="slide"><img src="{% static 'images/tecnologias/flask.svg' %}" alt="flask"></div>
                <div class="slide"><img src="{% static 'images/tecnologias/git.svg' %}" alt="git"></div>
                <div class="slide"><img src="{% static 'images/tecnologias/github.svg' %}" alt="github"></div>
                <div class="slide"><img src="{% static 'images/tecnologias/html.svg' %}" alt="html"></div>
                <div class="slide"><img src="{% static 'images/tecnologias/css.svg' %}" alt="css"></div>
                <div class="slide"><img src="{% static 'images/tecnologias/javascript.svg' %}" alt="javascript"></div>
                <div class="slide"><img src="{% static 'images/tecnologias/bootstrap.svg' %}" alt="bootstrap"></div>
                <div class="slide"><img src="{% static 'images/tecnologias/java.svg' %}" alt="java"></div>
                <div class="slide"><img src="{% static 'images/tecnologias/mysql.svg' %}" alt="mysql"></div>
                <div class="slide"><img src="{% static 'images/tecnologias/postgresql.svg' %}" alt="postgresql"></div>
                <div class="slide"><img src="{% static 'images/tecnologias/sqlite.svg' %}" alt="sqlite"></div>
                <div class="slide"><img src="{% static 'images/tecnologias/csharp.svg' %}" alt="csharp"></div>
                <div class="slide"><img src="{% static 'images/tecnologias/godot.svg' %}" alt="godot"></div>
                <div class="slide"><img src="{% static 'images/tecnologias/unity.svg' %}" alt="unity"></div>

                <div class="slide"><img src="{% static 'images/tecnologias/python.svg' %}" alt="python"></div>
                <div class="slide"><img src="{% static 'images/tecnologias/django.svg' %}" alt="django"></div>
                <div class="slide"><img src="{% static 'images/tecnologias/flask.svg' %}" alt="flask"></div>
                <div class="slide"><img src="{% static 'images/tecnologias/git.svg' %}" alt="git"></div>
                <div class="slide"><img src="{% static 'images/tecnologias/github.svg' %}" alt="github"></div>
                <div class="slide"><img src="{% static 'images/tecnologias/html.svg' %}" alt="html"></div>
                <div class="slide"><img src="{% static 'images/tecnologias/css.svg' %}" alt="css"></div>
                <div class="slide"><img src="{% static 'images/tecnologias/javascript.svg' %}" alt="javascript"></div>
                <div class="slide"><img src="{% static 'images/tecnologias/bootstrap.svg' %}" alt="bootstrap"></div>
                <div class="slide"><img src="{% static 'images/tecnologias/java.svg' %}" alt="java"></div>
                <div class="slide"><img src="{% static 'images/tecnologias/mysql.svg' %}" alt="mysql"></div>
                <div class="slide"><img src="{% static 'images/tecnologias/postgresql.svg' %}" alt="postgresql"></div>
                <div class="slide"><img src="{% static 'images/tecnologias/sqlite.svg' %}" alt="sqlite"></div>
                <div class="slide"><img src="{% static 'images/tecnologias/csharp.svg' %}" alt="csharp"></div>
                <div class="slide"><img src="{% static 'images/tecnologias/godot.svg' %}" alt="godot"></div>
                <div class="slide"><img src="{% static 'images/tecnologias/unity.svg' %}" alt="unity"></div>
            </div>
        </div>
    </section>

    <!-- Sección Experiencia y Formación en dos columnas -->
    <section id="info-profesional" class="mt-5">
        <div class="row">
            <!-- Columna de Experiencia -->
            <div class="col-md-6">
                <h2 class="text-center">Experiencia Laboral</h2>
                <div class="mt-4">
                    <h4><strong>Junior Software Developer - Abaco Developments</strong></h4>
                    <p>Abril 2024 - Junio 2024</p>
                    <ul>
                        <li>Desarrollé aplicaciones utilizando Python y FlySpeed SQL.</li>
                        <li>Colaboré en la optimización de bases de datos y análisis de datos.</li>
                        <li>Participé en el desarrollo de soluciones para mejorar la organización y trabajo en equipo.</li>
                    </ul>
                </div>
            </div>

            <!-- Columna de Formación -->
            <div class="col-md-6">
                <h2 class="text-center">Formación</h2>
                <div class="mt-4">
                    <p><strong>Udemy Certificate: Python and Django FullStack Web Developer Bootcamp</strong> - Jose Portilla | Octubre 2024 - Noviembre 2024</p>
                    <p><strong>Udemy Certificate: The Complete Python Pro Bootcamp</strong> - Angela Yu | Junio 2024 - Agosto 2024</p>
                    <p><strong>C.F.G.S. Desarrollo de Aplicaciones Multiplataforma</strong> - IES Vista Alegre | Septiembre 2022 - Junio 2024</p>
                    <p><strong>Grado en Arte Dramático</strong> - E.S.A.D. de Sevilla | Septiembre 2015 - Junio 2019</p>
                </div>
            </div>
        </div>
    </section>
</div>

{% endblock %}


