.montserrat-regular {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.russo-one-regular {
  font-family: "Russo One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

body {
    background: linear-gradient(135deg, #2C2E3E, #1E1F29);
    color: #e0e0e0;
}

footer {
    background-color: #1E1F29;
    color: #e0e0e0;
    padding: 20px 0;
    text-align: center;
    margin-top: auto;
}

/* INDEX */
.bigbrand{
    font-size: 1.5em;
}

.profile-image {
    width: 200px;
    height: 200px;
    object-fit: cover;
    object-position: 50% 5%;
    border-radius: 50%;
    border: 3px solid #bb86fc;
}

.card-img-top {
    width: 200px;
    height: 200px;
    object-fit: contain;
}

.slider {
    width: 75vw;
    height: auto;
    margin: auto;
    overflow: hidden;
}

.slider .slide-track {
    display: flex;
    animation: scroll 40s linear infinite;
    -webkit-animation: scroll 40s linear infinite;
    width: calc(100px * 32);
}

.slider .slide {
    width: 100px;
}

.slider .slide img {
    width: 80px;
    height: 80px;
    object-fit: contain;
}

@keyframes scroll {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
    100% {
        -webkit-transform: translateX(calc(-100px * 16));
        transform: translateX(calc(-100px * 16));
    }
}

/* CONTACT.HTML */
.form-group label {
    margin-bottom: 0.5rem;
    display: block;
}

#editor .ql-editor {
    color: #000000; /* Cambia el color del texto a negro */
    font-size: 0.90rem; /* Tamaño de fuente */
    line-height: 1.5; /* Altura de línea para mejor legibilidad */
}







