.markazi-text {
  font-family: "Markazi Text", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 1.5rem;
}

.russo-one-regular {
  font-family: "Russo One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

/* ---------------------- GENERAL ---------------------- */
/* -------- Body -------- */
html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    scrollbar-color: red black;
    scrollbar-width: thin;
}

body {
    overflow-x: hidden;
    overflow-y: auto;
    background-color: #1c1c1c;
    margin: 0;
    padding: 0;
    color: #F5EDED;
}

/* -------- Footer -------- */
footer {
    background-color: #171717;
    color: #F5EDED;
    padding: 10px 0;
    text-align: center;
    margin-top: auto;
    font-size: 1rem;
}

footer .nav-link {
    color: #F5EDED;
    font-size: 1.25rem;
    text-decoration: none;
    margin-right: 15px;
}

footer .nav-link:hover {
    color: #D72323;
}

.footer-info {
    text-align: right;
}

.footer-info .footer-icon {
    width: 30px;
    height: 30px;
}

.footer-info .footer-icon + span {
    vertical-align: middle;
    font-size: 1.5rem;
}

.footer-info a {
    color: #F5EDED;
    text-decoration: none;
}

.footer-info a:hover {
    color: #D72323;
}

.footer-info .d-flex {
    align-items: center;
    gap: 8px;
}

/* -------- Buttons -------- */
:root {
    --gradient: linear-gradient(to left top, #DD2476 10%, #FF512F 90%);
    --btn-red-color: #D72323;
    --btn-duration: 2s;
}

.btn {
  border: 5px solid;
  border-image-slice: 1;
  background: var(--gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  border-image-source: var(--gradient);
  text-decoration: none;
  transition: all 0.4s ease;
}

.btn:hover, .btn:focus {
  background: var(--gradient);
  -webkit-background-clip: none;
  -webkit-text-fill-color: #fff;
  border: 5px solid #fff;
  box-shadow: #222 1px 0 10px;
}

.btn-neon {
    position: relative;
    display: inline-block;
    padding: 15px 30px;
    font-size: 10px;
    border-width: 0;
    border-radius: 5px;
    background-color: transparent;
    color: var(--btn-red-color);
    text-transform: uppercase;
    letter-spacing: 3px;
    overflow: hidden;
    cursor: pointer;
    margin: 10px;
    transition: color 0.3s ease-in-out;
    margin-right: 50px;
    margin-top: 15px;
}

.btn-neon span {
    position: absolute;
    display: block;
    background: linear-gradient(90deg, transparent 30%, var(--btn-red-color));
}

.btn-neon span:nth-child(1) {
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    animation: line-top 1.5s linear infinite;
}

.btn-neon span:nth-child(2) {
    right: 0;
    top: 0;
    width: 2px;
    height: 100%;
    animation: line-right 1.5s linear infinite;
    animation-delay: 0.375s;
}

.btn-neon span:nth-child(3) {
    right: -100%;
    bottom: 0;
    width: 100%;
    height: 2px;
    animation: line-bottom 1.5s linear infinite;
    animation-delay: 0.75s;
}

.btn-neon span:nth-child(4) {
    bottom: 0;
    left: 0;
    width: 2px;
    height: 100%;
    animation: line-left 1.5s linear infinite;
    animation-delay: 1.125s;
}

.btn-neon:hover {
    background-color: var(--btn-red-color);
    color: #151515;
    box-shadow: 0 0 10px var(--btn-red-color),
                0 0 30px var(--btn-red-color),
                0 0 50px var(--btn-red-color);
}

@keyframes line-top {
    0% {
        left: -100%;
    }
    50%, 100% {
        left: 100%;
    }
}

@keyframes line-right {
    0% {
        top: -100%;
    }
    50%, 100% {
        top: 100%;
    }
}

@keyframes line-bottom {
    0% {
        right: -100%;
    }
    50%, 100% {
        right: 100%;
    }
}

@keyframes line-left {
    0% {
        bottom: -100%;
    }
    50%, 100% {
        bottom: 100%;
    }
}

/* ---------------------- NAVBAR ---------------------- */
.logotype {
    font-size: 1.5rem;
    color: #F5EDED;
}

.logo-icon {
    width: 48px;
    height: 48px;
    vertical-align: middle;
}

.nav-link {
    font-size: 1.5rem;
    color: #F5EDED;
    transition: .5s, color .10s;
    -webkit-transition: .5s, color .10s;
    -moz-transition: .5s, color .10s;
}

.nav-link:hover {
    color: #D72323;
    box-shadow: 0 8px 8px 0 #000000,0 8px 8px 0 #000000;
    transform: translate(5px,0px);
    -webkit-transform: translate(5px,0px);
    -moz-transform: translate(5px,0px);
}

.navbar-top {
    background-color: transparent;
    box-shadow: none;
    transition: background-color 0.3s ease-in-out;
}

.navbar-scrolled {
    background-color: #171717;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease-in-out;
}

/* ---------------------- INDEX ---------------------- */
/* -------- Sección PRESENTACIÓN -------- */
#presentacion {
    position: relative;
    width: 100vw;
    overflow: visible;
    padding: 0;
    margin-left: calc(-50vw + 50%);
}

#presentacion .content-wrapper {
    max-width: 100%;
    margin: 0 auto;
    padding: 0 15px;
    position: relative;
    z-index: 1;
}

#presentacion .col-md-8 {
    margin-top: 75px;
}

.profile-image {
    width: 235px;
    height: 235px;
    object-fit: cover;
    object-position: 50% 5%;
    border-radius: 50%;
}

.ubicacion {
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    gap: 5px;
    color: #F5EDED;
    white-space: nowrap;
    margin-right: 70px;
}

.ubicacion-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.btn-descargar {
    font-size: 1.1rem;
    padding: 10px 20px;
    margin-left: 35px;
    border-radius: 5px;
}

.writing {
    display: inline-block;
    color: #F5EDED;
    font-size: 2.25rem;
}

#cursor {
    display: inline-block;
    color: #F5EDED;
    font-size: 2.5rem;
    animation: blink 0.5s step-end infinite;
}

@keyframes blink {
    from, to {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
}

.nombre-completo {
    font-size: 2.25rem;
    line-height: 1.2;
    text-align: right;
}

.index-descripcion {
    font-size: 2.25rem;
    color: #D72323;
    padding-top: 10px;
}

.icon {
    width: 32px;
    height: 32px;
}

.social-links {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 1.2rem;
}

.email {
    font-size: 1.2rem;
    margin-left: 5px;
}

.technologies {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 20px;
}

.tech-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1200px;
}

.tech-grid img {
    width: 60px;
    height: 60px;
    object-fit: contain;
    transition: transform 0.3s ease;
}

.tech-grid img:hover {
    transform: scale(1.1);
}

.icons-wrapper {
    display: flex;
    gap: 15px; /* Espaciado entre los íconos */
}

/* -------- Sección PROYECTOS -------- */
@import url("https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;600&display=swap");

#proyectos {
    font-family: "Baloo 2", cursive;
    padding: 2rem 0;
}

#proyectos .postcard {
    display: flex;
    background: linear-gradient(135deg, #3C3C3C, #1A1A1A, #4A1818);
    border-radius: 15px;
    overflow: hidden;
    margin-bottom: 2rem;
    box-shadow: 0 4px 21px -12px rgba(0, 0, 0, 0.66);
    position: relative;
}

#proyectos .postcard:hover {
    box-shadow: 0 6px 20px rgba(215, 35, 35, 0.4);
}

#proyectos .postcard__img_link {
    display: contents;
}

#proyectos .postcard__img_left {
    max-height: 100%;
    width: 40%;
    object-fit: cover;
    position: relative;
    clip-path: polygon(0 0, 100% 0, 90% 100%, 0 100%);
}

#proyectos .postcard__img_right {
    max-height: 100%;
    width: 40%;
    object-fit: cover;
    position: relative;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 10% 100%);
}

#proyectos .postcard:hover .postcard__img {
    transform: scale(1.1);
}

#proyectos .postcard__text {
    padding: 2rem 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #F5EDED;
}

#proyectos .postcard__title {
    font-size: 1.8rem;
    color: #D72323;
    margin-bottom: 0.5rem;
}

#proyectos .postcard__subtitle {
    font-size: 0.8rem;
    color: #cfcfcf;
    padding-top: 5px;
    margin-bottom: 0.8rem;
    display: flex;
    align-items: center;
}

#proyectos .postcard__subtitle i {
    margin-right: 8px;
}

#proyectos .postcard__bar {
    width: 50px;
    height: 4px;
    background-color: #D72323;
    margin-bottom: 1rem;
}

#proyectos .postcard__preview-txt {
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 1rem;
    line-height: 1.5;
    margin-bottom: 2rem;
}

#proyectos .postcard__tagbox {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1.5rem;
}

#proyectos .postcard__tagbox a {
    text-decoration: none;
}

#proyectos .postcard__tagbox .tag__item {
    font-size: 0.9rem;
    color: #fff;
    display: inline-flex;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 3px;
    padding: 0.4rem 0.8rem;
    align-items: center;
    gap: 7px;
    cursor: pointer;
    user-select: none;
    transition: background-color 0.3s ease;
}

#proyectos .postcard__tagbox .tag__item:hover {
    background-color: #D72323;
    color: #fff;
}

#proyectos .postcard__tagbox .tipo-proyecto {
    margin-left: auto;
    font-weight: bold;
}

#proyectos .tag__item i {
    font-size: 0.9rem;
}

/* Para dispositivos mayores a 768px */
@media screen and (min-width: 768px) {
    #proyectos .postcard {
        flex-direction: row;
    }

    #proyectos .postcard:nth-child(odd) {
        flex-direction: row-reverse;
    }
}

/* -------- Sección CONOCIMIENTOS -------- */
/* ---- Timeline ---- */
.timeline {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.timeline-line {
    position: absolute;
    width: 4px;
    height: calc(100% + 200px);
    background: #4A4A4A;
    z-index: 1;
}

.row.g-4 {
    margin-bottom: 100px;
}

.timeline-circle {
    position: relative;
    width: 20px;
    height: 20px;
    background-color: #D72323;
    border-radius: 50%;
    z-index: 2;
    box-shadow: 0 0 10px rgba(215, 35, 35, 0.8);
}

/* ---- Cards ----  */
.knowledge-card {
    background: linear-gradient(135deg, #3C3C3C, #1A1A1A, #4A1818);
    font-family: "Baloo 2", cursive;
    font-size: 1.5em;
    border-radius: 15px;
    padding: 20px;
    transition: transform 0.3s, box-shadow 0.3s;
    width: 100%;
    max-width: 500px;
    max-height: 100%;
}

.knowledge-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 6px 25px rgba(215, 35, 35, 0.5);
}

.knowledge-card h3 {
    font-size: 1.2rem;
    font-weight: bold;
    color: #D72323;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.knowledge-card h4 {
    font-size: 1.1rem;
    margin-bottom: 10px;
    color: #F5EDED;
}

.knowledge-card p {
    font-size: 0.9rem;
    line-height: 1.6;
    color: #cfcfcf;
    margin-bottom: 10px;
}

.knowledge-card ul {
    padding-left: 20px;
    list-style: disc;
    margin-bottom: 10px;
}

.knowledge-card ul li {
    font-size: 0.9rem;
    margin-bottom: 5px;
    color: #F5EDED;
}

.icon-ud {
    width: 42px;
    height: 42px;
    margin-right: 4px;
}

/* ---------------------- CONTACT.HTML ---------------------- */
.contact-descripcion {
    font-size: 1.75rem;
}

.form-group label {
    margin-bottom: 0.5rem;
    display: block;
}

.form-control {
    font-size: 1.5rem;
    padding: 15px;
    height: 45px;
}

.btn-contact {
    font-size: 2rem;
    padding: 15px 40px;
    width: 300px;
    height: auto;
}

#editor .ql-editor {
    color: #000000; /* Cambia el color del texto a negro */
    font-size: 0.90rem; /* Tamaño de fuente */
    line-height: 1.5; /* Altura de línea para mejor legibilidad */
}

.gmail-contact {
    width: 20px;
    height: 20px;
}